@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
body {
    background-color: rgb(13, 24, 24);
    color: antiquewhite;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p, ul {
    font-family: 'Oswald', sans-serif;
    text-align: justify;
}
.myPicture{
    border-radius: 20% 40%;
}
.links{
    font-family: 'Oswald', sans-serif;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    padding: 3px 6px;
    margin: 3px;

}
#highlight {
    color: cornflowerblue;
}
#trybe {
    color:rgb(85, 179, 124)
}