@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 24, 24);
    color: antiquewhite;
    padding: 10px 5px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    max-width: 1000px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sobremim {
    padding: 20px 0;
}

p, ul {
    font-family: 'Oswald', sans-serif;
    text-align: justify;
}

#image-article{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

#my-picture {
    border-radius: 20% 40%;
    max-height: 400px;
    max-width: 400px;
    padding: 5px;
    background-color: rgb(48, 48, 48);
}

#my-name {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.image-container {
    max-height: 410px;
}

.links{
    font-family: 'Oswald', sans-serif;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    padding: 3px 6px;
    margin: 5px;
}

nav ul {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    padding: 5px;
}

li {
    list-style: none;
}

.links:hover {
    background-color: rgb(28, 28, 119);
}

#highlight {
    color: cornflowerblue;
}

#trybe {
    color:rgb(85, 179, 124)
}

#about-me {
    max-height: 400px;
    max-width: 500px;
    top: 10%;
    left: 45%;
}

#habilidades {
    padding: 20px 5px;
}

#main-habilities ul{
    display: flex;
    flex-flow: column;
    padding-left: 5px;
    gap: 5px;
}

@media screen and (max-width: 610px) {
    #image-article{
        display: flex;
        flex-flow: wrap;
        align-items: center;
        align-content: center;
        padding: 10px;
        gap: 20px;
    }

    #my-picture {
        border-radius: 20% 40%;
        max-height: 600px;
        max-width: 600px;
        width: 100%;
    }
  
    .image-container {
        max-width: 300px;
    }

    nav ul {
        padding: 20px 0;
        margin: 0;
        width: 100%;
    }
}